@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
body{
  /* if couldn't apply ubuntu will use sans-serif instead */
  font-family: 'Ubuntu', sans-serif;
  /* !important overrides everything and applies the style to every child expect specificity */
  font-weight: 300 !important;
  margin: 0px;
}

body h1{
  font-weight: 300;
  /* applied to all side */
  margin: 0px;
  /* first value is used for top-down second for left-right */
  margin: 0px 0px;
  /* values are applied as top, right, bottom, left respectively */
  margin:0px 0px 0px 0px;

  margin: 20px 30px;
}

/* referring an id */
#main-header{
  border-bottom: 2px solid #000;
}
